/*
 * Main CSS file.
 * To be used for non-component styles and defaults.
 */

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
}

:focus {
  outline: none !important;
}

nav, li {
  background-color: white !important;
}
