<div style="position:fixed; top:5px; left: 5px;">
    <md-button hide-gt-lg class="nav-button blue-background" ng-show="(screenIsSmall && view.panels.medao) || (!view.panels.manage && screenIsBig)" ng-click="showPanel('manage')">
        <md-icon style="margin:3px;" aria-label="back" md-svg-src="libs/fonts/ic_keyboard_arrow_left_white_24px.svg"></md-icon>
        actions&nbsp
    </md-button>
    <md-button class="nav-button blue-background" ng-show="view.panels.posts && screenIsSmall" ng-click="showPanel('medao')">
        <md-icon style="margin:3px;" aria-label="back" md-svg-src="libs/fonts/ic_keyboard_arrow_left_white_24px.svg"></md-icon>
        &nbspback&nbsp&nbsp
    </md-button>
</div>
<div style="position:fixed; top:5px; right: 5px;">
    <md-button hide-gt-lg class="nav-button blue-background" ng-show="(!view.panels.posts && screenIsBig) || (screenIsSmall && view.panels.medao)" ng-click="showPanel('posts')">
        comments&nbsp
        <md-icon style="margin:3px;" aria-label="back" md-svg-src="libs/fonts/ic_keyboard_arrow_right_white_24px.svg"></md-icon>
    </md-button>
    <md-button class="nav-button blue-background" ng-show="view.panels.manage && screenIsSmall" ng-click="showPanel('medao')">
        back&nbsp
        <md-icon style="margin:3px;" aria-label="back" md-svg-src="libs/fonts/ic_keyboard_arrow_right_white_24px.svg"></md-icon>
    </md-button>
</div>
<div style="width:100%; height:100vh;">
    <div layout="column" layout-gt-sm="row" layout-fill>
        <div class="darker-background" ng-show="view.panels.manage || screenIsReallyBig" layout="column" layout-fill flex flex-gt-sm="50">
            <div style="overflow:hidden" layout="column" layout-fill>
                <h3 layout="row" layout-padding layout-margin>MeDao Actions</h3>
                <div style="overflow:auto">
                    <div layout="column" layout-padding>
                        <h3 style="margin-bottom:0px;">Place Bid <small>(Top 5 Bidding Teirs)</small></h3>
                        <div> </div>
                        <div>
                            <div layout="column" layout-align="center center">
                                <p>A bid placed on a new teir must have an adjecent teir (or anchor teir) selected. This can be eventually automated away. Click on a teir to set it as the anchor teir.</p>
                                <div ng-repeat="value in medao.auction.teirs track by $index" layout="row" flex>
                                    <div class="cursor" ng-click="medao.placeBid.touchingTeir = value">
                                        {{medao.totalBids[value]}} bids at <b>{{value | fromWei:'ether'}} Ether</b>
                                    </div>
                                </div>
                            </div>
                            <md-input-container class="md-block" md-no-float>
                                <label>Ether</label>
                                <input type="number" ng-model="medao.auction.placeBid.ether">
                            </md-input-container>
                            <p flex><span flex></span><small>Anchor Teir: {{medao.placeBid.touchingTeir | fromWei:'ether'}}</small></p>
                            <div layout="row" flex>
                                <md-button class="nav-button md-raised md-warn" ng-click="medao.auction.placeBid.ether = currentAccount.ether.balance">max</md-button>
                                    <md-button class="nav-button md-raised" ng-click="medao.auction.placeBid.ether = medao.auction.highestBid">highest</md-button>
                                <span flex></span>
                                <md-button class="nav-button md-raised md-primary" ng-disabled="!(medao.auction.placeBid.ether > 0 || medao.placeBid.touchingTeir == 0)" ng-click="placeBid()">place</md-button>
                            </div>
                        </div>
                        
                        <div style="margin: 12px 0px; padding:0px; border-top: 2px solid rgba(255,255,255,0.87);"></div>
                        
                        <h3 style="margin-bottom:0px;">Remove Bid</h3>
                        <div>
                            <md-input-container class="md-block" md-no-float>
                                <label>Bid ID</label>
                                <input type="number" ng-model="medao.auction.removeBid.bidID">
                            </md-input-container>
                            <div layout="row">
                                <span flex></span>
                                <md-button class="nav-button md-raised md-primary" ng-disabled="!(medao.auction.removeBid.bidID > 0)" ng-click="removeBid()">remove</md-button>
                            </div>
                            <p>Your Placed Bids:</p>
                            <div ng-repeat="bid in currentAccount.allBids">
                                <span class="cursor" style="float:left" ng-click="medao.auction.removeBid.bidID = bid.toNumber()"><bid style="padding:5px;" id="bid.toNumber()" medao="medao.address"></bid></span>
                            </div>
                        </div>
                        
                            <div style="margin: 12px 0px; padding:0px; border-top: 3px solid rgba(255,255,255,0.87);"></div>
                        
                        <h3 style="margin-bottom:0px;">Submit Proof of Work</h3>
                        <div>
                            <md-input-container class="md-block" md-no-float>
                                <label>Hours</label>
                                <input type="number" ng-model="medao.submitProofOfWork.burnAmount">
                            </md-input-container>
                            <md-input-container class="md-block" md-no-float>
                                <label>Comment</label>
                                <textarea type="text" ng-model="medao.submitProofOfWork.comment" rows="5"></textarea>
                            </md-input-container>
                            <div layout="row">
                                <md-button class="nav-button md-raised md-warn">max</md-button>
                                <span flex></span>
                                <md-button class="nav-button md-raised md-primary" ng-disabled="!(medao.submitProofOfWork.burnAmount > 0) && medao.submitProofofWork.comment" ng-click="submitProofOfWork()">submit</md-button>
                            </div>
                        </div>
                   
                            <div style="margin: 12px 0px; padding:0px; border-top: 3px solid rgba(255,255,255,0.87);"></div>

                        <h3 style="margin-bottom:0px;">Set Work Hours (7 day cooldown)</h3>
                        <div>
                            <md-input-container class="md-block" md-no-float>
                                <label>Hours per week (0-40)</label>
                                <input type="number" ng-model="medao.setAuctionReward.hours" min="0" max="40">
                            </md-input-container>
                            <div layout="row">
                                <md-button class="nav-button md-raised md-warn" ng-click="medao.setAuctionReward.hours = 40;" flex>full time</md-button>
                                <md-button class="nav-button md-raised" ng-click="medao.setAuctionReward.hours = 20;" flex>half time</md-button>
                                <span hide-xs flex></span>
                                <md-button class="nav-button md-raised md-primary" ng-disabled="!validAuctionReward()" ng-click="setAuctionReward()">set</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="view.panels.medao || screenIsBig || screenIsReallyBig" layout="column" layout-fill flex flex-gt-sm="50">
            <div layout="column" layout-align="top center">
                <h3 class="cursor" ng-click="goto('/home')">MeDao</h3>
            </div>
            <div layout="column" layout-align="top center">
                <h1>{{medao.token.name}}</h1>
                <p>... owes you <b style="font-size:18px;color:rgba(155,55,55,0.87);">{{currentAccount.token.balance}}</b> hours of work</p>
            </div>
            <br>
            <div layout="row" flex>
                <div layout="column" layout-align="top center" flex>
                    <h3 style="margin-bottom:0px;">Proof of Work</h3>
                    <p style="margin-top:0px;">all time</p>
                    <h2 style="margin-top:0px; color:rgba(111,222,111,0.87)">- {{medao.redeemedHours}} hours</h2>
                </div>
                <div layout="column" layout-align="top center" flex>
                    <h3 style="margin-bottom:0px;">Work Hours</h3>
                    <p style="margin-top:0px;">next week</p>
                    <h2 style="margin-top:0px;">+ {{medao.auction.reward}} hours</h2>
                </div>
            </div>
            <div layout="row" flex>
                <div layout="column" layout-align="top center" flex>
                    <h3 style="">Total Held Hours</h3>
                    <h2 style="margin-top:0px;">{{medao.token.supply}}</h2>
                </div>
                <div layout="column" layout-align="top center" flex>
                    <h3 style="">Salary Forecast</h3>
                    <h2 style="margin-top:0px; color:rgba(111,222,111,0.87)">{{medao.auction.highestBid*40*52}} eth</h2>
                </div>
            </div>
            <div layout="row" flex>
                <div layout="column" layout-align="top center" flex>
                    <h3 style="">Next Auction</h3>
                    <h2 ng-show="!timer.alarm" style="margin-top:0px; ">{{timer.text}}</h2>
                    <md-button ng-show="timer.alarm" class="md-raised md-primary" ng-disabled="medao.auction.reward == 0" ng-click="startAuction()">Start</md-button>
                </div>
                <div layout="column" layout-align="top center" flex>
                    <h3 style="">Highest Bid</h3>
                    <h2 style="margin-top:0px; color:rgba(111,222,111,0.87)">{{medao.auction.highestBid}} eth</h2>
                </div>
            </div>
        </div>
        <div ng-show="view.panels.posts || screenIsReallyBig" layout="column" layout-align="center center" layout-fill flex flex-gt-sm="50">
            <div style="overflow:hidden" layout="column" layout-fill>
                <h3 hide-gt-sm layout="row" layout-padding layout-margin flex><span flex></span>Shareholder Posts</h3>
                <div style="overflow:auto">
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #1</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #2</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #3</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #4</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #5</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #6</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #7</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #8</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #9</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #10</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #11</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #12</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #13</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #14</p>
                    </div>
                    <div class="light-border post-item" layout="row" layout-padding layout-margin>
                        <p>Comment #15</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>