.nav-button {
    text-transform: lowercase;
}

.post-list-container {
    overflow: hidden;
}

.post-list {
    overflow-y: scroll;
}

::-webkit-scrollbar {
   display: none;
}

.post-item {
    background-color: rgba(0,0,0,0.23);
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    color: rgba(255,255,255,0.67);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: rgba(255,255,255,0.87);
}

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
    color: rgba(255,255,255,0.87);
}

.md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    color:rgba(255,255,255,0.87);
}